*{
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-image: url('./img/background.jpg');
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: white;
}

.App{
  text-align: center;
}

h1{
  background-color: purple;
  margin-top: 20px;
}

.form-container{
  display: flex;
  flex-direction: column;
}

label{
  background-color: salmon;
  border-radius: 10px;
}

input, select{
  text-align: center;
  border-radius: 10px;
}

.submit{
  width: 100px;
  height: auto;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.submit:hover{
  background-color: lightblue;
  color: black;
  font-size: 25px;
}

button{
  width: 100px;
  height: auto;
  background-color: darkblue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

button:hover{
  width: 120px;
  opacity: 0.8;
}

.container{
  min-height: 100vh;
  min-width: 400px;
  border: 2px solid white;
  padding-bottom: 40px;
}

.songlistBox{
  min-height: 100vh;
  min-width: 330px;
  background-color:darkblue;
  border: 2px solid white;
}

.songlistItem{
  display: grid;
  grid-template-columns: 110px 110px 55px 30px 60px;
  border-bottom: 1px solid white;
}

.Title_songlistbox p:nth-child(odd){
  background-color: purple;
  font-size: 18px
}

.Title_songlistbox p:nth-child(even){
  background-color: salmon;
  font-size: 18px
}

.songlistItem p{
  padding: 8px;
  font-size: 20px;
  margin: 0;
  letter-spacing: 1px;
}

.item_songlist p:nth-child(odd){
  background-color: red;
  font-size: 18px;
}

.item_songlist p:nth-child(even){
  background-color: orange;
  border-top: 2px solid white;
  border-left: 2px solid white;
  font-size: 18px;
}

.songlistItem button{
  width: 40px;
  height: 40px;
}

.songlistItem button i{
  font-size: 22px;
}

.songlistItem button i:hover{
  font-size: 30px;
}

@media only screen and (min-width: 600px){
.song-form{
  display: grid;
  grid-template-columns: 250px 250px;
  grid-gap: 10px;
}

label{
  border-radius: 10px;
  width: 250px;
  height: 50px;
  margin-left: 50px;
}

input, select{
  text-align: center;
  border-radius: 10px;

}

.submit{
  margin-left: 250px;
  
}

.genreButtons{
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

button{
 margin-left: 80px;
}

.container{
  margin-left: 30px;
  min-width: 600px;
}

.songlistBox{
  min-width: 550px;
}

.songlistItem{
  grid-template-columns: 180px 160px 100px 50px 75px;
}

.songlistItem button{
  margin: 10px;
}

button{
  margin-left: 100px;
}
}

@media only screen and (min-width: 800px){
  .song-form{
    grid-template-columns: 300px 300px 300px 300px;
  }

  label{
    margin-left: 20px;
    width: 300px;
  }

  .submit{
    transform: translate(1050px, -50px);
  }

  .genreButtons{
    display: flex;
  }

  button{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 150px;
  }

  .container{
    margin-left: 40px;
  }

  .songlistItem{
    grid-template-columns: 375px 360px 200px 60px 105px;
  }

  .songlistItem button{
    margin-left: 25px;
  }
}
