*{
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-image: url('./img/background.jpg');
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: white;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;

}

.song-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1{
  text-align: center;
  background-color: purple;
  
  }

input, select{
  border-radius: 10px;
  text-align: center;
  width: 200px;
  height: 20px;
  background-color:aliceblue;
  margin-left: 75px;
  margin-bottom: 5px;
}

select{
  text-align-last: center;
}

.submit{
  background-color:blue;
  height: 25px;
  width: 100px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 125px;
  cursor: pointer;
}

.submit:hover{
  opacity: 0.5;
  width: 120px;
  color: lightblue;
}

p{
  border: solid 1px white;
  padding: 2px;
}
th{
  border-bottom: solid 1px white;
}


@media only screen and (min-width: 768px){

.song-form{
  display: flex;
  flex-direction: row;
}
.submit{
  margin-top: 0px;
  margin-left: 0px;
}
input, select{
  margin-top: 0px;
  margin-left: 0px;
}


}


